body{
    font-family: 'Work Sans', sans-serif;
}

header{
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 800px; */
}


.container{
    display: flex;
    justify-content: end;
   
}

.box1{
    position: bottom right;
    padding: 216px 230px 336px 845px;
    
}

.header-descriptio{
    width: 494px;
}

.header-title{
    color: #FFF;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
}

.header-descriptio{
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary{
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 26px 20px 26px;

}

.btn{
    text-align: end;
}

/* main section */

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 175px;
}

.info-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;    
    padding-bottom: 24px;
}

.info-descriptio{
    width: 416px;
    color:  #444343;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 25px;

}

ul>li{
    color:  #444343;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}

/* my plan section */

.plan-title{
    text-align: center;
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.my-plan{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-bundle{
    margin-top: 50px;
    text-align: center;
}

.plan-title{
    color:  #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 16px;
}

.ing{
    padding-bottom: 16px;
}

.plan-description{
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;

}

/* watch section */

.watch{
    max-width: 840px;
    height: 300px;
    margin: auto;
    background-position: center;
    padding: 59px 617px 147px 64px;
    border-radius: 8px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%) , url('../images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.watch-title{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

/* footer section */